/****** FONTS ******/

@font-face {
    font-family: 'Syncopate', sans-serif;
    src: url(../fonts/Syncopate-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Syncopate', sans-serif;
    src: url(../fonts/Syncopate-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
}



/****** BASE STYLES ******/

body {
    color: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.img-wrap {
    border: 12px solid #a3a3a3;
    float: left;
    margin-bottom: 25px;
    margin-left: 25px;
}


/****** GRID ******/

.full-width {         
    margin: 0px auto;
    overflow: auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

.forth-width {
    float: left;
    width: 300px;
}


/****** HEADER SECTION CSS ******/

header {
    background-color: #000;
    background-image: url("../images/tropical-space-thejoewhocodes-half-opacity.png");
    background-position: center;
    background-size: cover;
    height: 800px;
}

header h1 {
    color: #0994db;
    font-family: 'Syncopate', sans-serif;
    font-size: 72px;
    padding: 65px 0px 65px 25px;
    text-shadow: .3px .3px .5px #07fdf4;
}

header h2 {
    clear: both;
    color: #edb621;
    font-family: 'Open Sans', sans-serif;
    font-size: 53px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
    text-shadow: .3px .3px .5px #7b128d;
    text-transform: capitalize;
    width: 1000px;
}

header h2 span { color: #a17500; }

/****** NAVIGATION SECTION CSS ******/

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li { display: inline-block; }

nav ul li a {
    color: #ebebeb;
    font-size: 20px;
    padding-left: 50px;
    text-decoration: none;
    text-shadow: .6px .6px 1px #03608f;
    text-transform: uppercase;
    stroke: 3px #000;
}


/****** WORK SECTION STYLES ******/

#work .full-width { padding: 80px 0px; }

#work h2 {
    color: #3e07ba;
    font-family: 'Syncopate', sans-serif;
    font-size: 36px;
    padding-left: 50px;
    text-transform: capitalize;
}

#work p {
    color: #0994db;
    font-size: 21px;
    line-height: 36px; 
    padding-left: 50px;
    padding-right: 50px;
}


/****** CONTACT SECTION CSS ******/

#contact { background-color: #ebebeb; }

#contact .full-width { padding: 110px 0px; }

#contact img#contact-img {
    border: 12px solid #fff;
    margin-left: 25px;
}

#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul { padding-left: 115px; }

#contact #envelope { padding: 0px 10px 0px 115px; }

#contact h2 {
    color: #14668f;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 44px;
}

#contact h3 {
    color: #0994db;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 44px;
}

#contact #email-header {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: 30px 0px 5px 0px;
}

#contact #socialmedia-header {
    font-size: 29px;
    font-weight: bold;
    line-height: 44px;
    margin: 40px 0px 0px 0px;
}

#contact a {
    color: #8f4f00;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

#contact ul { list-style: none; }

#contact ul li { display: inline-block; }

#contact ul img { padding-right: 48px; }
